*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --toolbar-width: 120px;
  --white-color: #eaeaea;
  --grey-color: #9a9a9a;
  --light-gray: #b3b3b3;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  position: relative;
}

#draw {
  /* border: 2px solid blue; */
  /* overflow: hidden; dont make it hidden it mess up the cordinates */
}

#toolbar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: var(--toolbar-width);
  padding-inline: 10px;
  box-shadow: 0 0 10px #888888;
}

.logo {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#toolbar label {
  font-size: 18px;
  font-family: sans-serif;
}

#toolbar input {
  width: 100%;
}

#toolbar button {
  background-color: #317ce4;
  border: none;
  font-size: 18px;
  font-family: sans-serif;
  border-radius: 4px;
  color: white;
  padding: 6px;
  margin-bottom: 20px;
}
